// Styling—
bhaa-menu {
  menu {
    bottom: 0;
    list-style-type: none;
    font-family: $body;
    left: 0;
    width: col(2.25, 1);
    padding-left: gutter();
    li {
      border-top: 1px solid rgba(white, 0.3);
      width: 100%;
      display: inline-block;
      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 1em;
        width: 100%;
        display: block;
        line-height: baseline(5);
        font-size: size(3);
        padding: baseline(1) gutter();
        @include breakpoint('tablet') {
          padding: baseline(1) 0;
        }
        &:hover {
          color: $actionRed;
        }
      }
    }
  }
}
