// Mobile—
bhaa-menu {
  .toggle {
    display: none;
  }
  @include breakpoint('mobilexl-and-below') {
    .toggle {
      display: block;
      color: white;
      text-decoration: none;
      position: absolute;
      right: gutter(2);
      bottom: baseline(3);
      line-height: 0;
    }
    position: absolute;
    left: 0;
    width: 100%;
    wp-menu {
      position: absolute;
    }
    display: block;
    wp-menu {
      background-color: #262626;
      position: absolute;
      left: 0;
      width: 100%;
      padding-top: baseline(3);
      padding-bottom: baseline(3);
      li {
        width: col(6.5, 1);
        margin-left: col(0.25, 2);
        @include breakpoint('mobile-and-below') {
          width: col(3, 1);
          margin-left: gutter(1);
        }
      }
    }
    wp-menu.toggleable {
      display: block;
      transform-origin: top center;
      transform: scaleY(0);
      li {
        color: white;
      }
    }
    wp-menu.toggleable.toggled {
      @keyframes SlideMenuIn {
        0% {
          transform: scaleY(0);
        }
        100% {
          transform: scaleY(1);
        }
      }
      animation: SlideMenuIn 180ms ease-out forwards;
    }
    wp-menu.toggleable.toggled-off {
      @keyframes SlideMenuOut {
        0% {
          transform: scaleY(1);
        }
        100% {
          transform: scaleY(0);
        }
      }
      transform: scaleY(1);
      animation: SlideMenuOut 180ms ease-out forwards;
    }
  }
}

// Styling—
bhaa-menu {
  menu {
    bottom: 0;
    list-style-type: none;
    font-family: $body;
    left: 0;
    width: col(2.25, 1);
    padding-left: gutter();
    li {
      border-top: 1px solid rgba(white, 0.3);
      width: 100%;
      display: inline-block;
      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 1em;
        width: 100%;
        display: block;
        line-height: baseline(5);
        font-size: size(3);
        padding: baseline(1) gutter();
        @include breakpoint('tablet') {
          padding: baseline(1) 0;
        }
        &:hover {
          color: $actionRed;
        }
      }
    }
  }
}
