// Styling—
bhaa-menu {
  menu {
    font-family: $body;
    width: 100%;
    li {
      border-top: 1px solid rgba(white, 0.3);
      width: 100%;
      display: inline-block;
      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 1em;
        width: 100%;
        display: block;
        line-height: baseline(5);
        font-size: size(3);
        padding: baseline(1);
        @include breakpoint('tablet') {
          padding: baseline(1) 0;
        }
        &:hover {
          color: $actionRed;
        }
      }
    }
  }
}
