bhaa-front-page {
  width: 100%;
  background: #262626;
  h1,
  h2 {
    margin-top: 0;
    padding-top: 18px;
    position: relative;
    &:before {
      position: absolute;
      top: 6px;
      width: 100%;
      content: "";
      height: 2px;
      background: rgba(0, 0, 0, 0.45);
      display: block;
    }
  }
}

@include breakpoint("desktop") {
  bhaa-front-page {
    h1,
    h2 {
      position: absolute;
      left: 0;
      width: 320px;
    }
  }
}
