bhaa-heart-herald {
  display: inline-block;
  box-sizing: border-box;
  width: baseline(14);
  line-height: baseline(7);
  img {
    width: 48%;
    height: auto;
    &:first-child {
      margin-right: 4%;
    }
  }
}
