bhaa-footer {
  opacity: .4;
  > div {
    width: 100%;
    background: #262626;
    color: #e3ecf3;
    box-sizing: border-box;
    padding: 48px 20px 85px;
    bhaa-heart-herald {
      padding-right: 6px;
      position: relative;
      top: 3px;
    }
    position: relative;
  }
}
