bhaa-footer {
  > div {
    width: 100%;
    background: #262626;
    color: #e3ecf3;
    box-sizing: border-box;
    padding: 48px 20px 85px;
    bhaa-heart-herald {
      padding-right: 6px;
      position: relative;
      top: 3px;
    }
    position: relative;
  }
  menu {
    position: absolute;
    bottom: 0;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: $body;
    left: 0;
    li {
      display: inline-block;
      a {
        color: white;
        font-weight: 600;
        text-decoration: none;
        font-size: 1em;
        display: inline-block;
        padding: 8px 12px;
        margin: 0 2px;
      }
      &.active a {
        background: rgba(#e3ecf3, 1);
        color: #262626;
      }
      &:not(.active):not(.donate) a:hover {
        background: rgba(#e3ecf3, 0.2);
        color: #55acee;
      }
      &.donate a {
        background: #55acee;
        color: white;
      }
      &.donate a:hover {
        background: rgb(68, 142, 199);
      }
    }
  }
}

@media (min-width: 500px) {
  bhaa-header {
    header {
      h2 {
        font-size: 1.3em;
      }
      h1 {
        font-size: 2.4em;
      }
      bhaa-heart-herald {
        width: 100px;
      }
    }
    menu {
      li {
        a {
          font-size: 1.2em;
          padding: 8px 20px;
        }
      }
    }
  }
}
