//Position—
bhaa-sticker {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  @include breakpoint('tablet') {
    @include setCol(7, 1);
    position: fixed;
  }
  @include breakpoint('desktop') {
    @include setCol(2.5, 1);
    position: fixed;
    top: baseline(14);
    right: gutter();
    bottom: inherit;
    bottom: unset;
  }
  @include breakpoint('xl') {
    @include setCol(3, 1);
    position: fixed;
    top: baseline(12);
  }
}

//Styling—
bhaa-sticker {
  .banner {
    position: relative;
    padding: baseline(2) gutter(1);
    background-color: #2658db;
  }
  color: white;
  font-family: $headline;
  line-height: baseline(4);
  a.donate {
    @include button($supportBlue, $actionRed);
    @include breakpoint('mobilexl') {
      position: absolute;
      right: gutter();
      top: baseline(2);
    }
    @include breakpoint('desktop') {
      position: relative;
      right: unset;
      bottom: 0;
      width: unset;
      min-width: col(2);
    }
  }

  h3,
  p {
    display: none;
  }

  @include breakpoint('mobilexl') {
    .banner {
      height: baseline(22);
    }
    h3 {
      display: block;
      font-style: italic;
    }
    h3,
    p {
      line-height: size(3);
      margin-bottom: baseline(1);
    }
    p {
      display: inline-block;
      font-size: size(2.5);
      width: col(4);
    }
    h3 {
      font-size: size(3.5);
    }
  }

  @include breakpoint('tablet') {
    .banner {
      margin: 0 0 0 col(0.5);
      height: inherit;
    }
    h3,
    p {
      line-height: size(4);
    }
    p {
      font-size: size(2.5);
      width: col(4);
      margin-bottom: baseline(2);
    }
    h3 {
      font-size: size(3.5);
    }
  }

  @include breakpoint('desktop') {
    .banner {
      padding-bottom: baseline(10);
    }
    p {
      font-size: size(2.5);
      line-height: size(4);

      width: 100%;
    }
    h3 {
      font-size: size(4);
      line-height: baseline(5);
      margin-bottom: baseline(4);
    }
  }

  @include breakpoint('xl') {
    .banner {
      padding-bottom: baseline(14);
    }
  }
}
