
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E3ECF3;
    font-family: "Whitney Narrow SSm A", "Whitney Narrow SSm B";
    font-style: normal;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Mercury SSm A", "Mercury SSm B";
    font-style: normal;
    font-weight: 700;
}

wp-title,
wp-running-copy {
    font-size: 1.1em;
    margin-top: 18px;
    p, img {
        margin: 0 0 18px;
        line-height: 1.5em;
    }
    h1, h2, h3, h4, h5, h6  {
        margin: 0 0 18px;
        line-height: 1.24em;
    }

    h1 {
        font-size: 1.6em;
    }

    ul, ol {
        line-height: 1.5em;
        margin-left: 40px;
        li {
            margin-bottom: 12px;
        }
    }
}

#mc_embed_signup {
    background: #55ACEE;
    padding: 20px;
    width: 340px;
    .indicates-required {
        margin-top: -15px;
        margin-bottom: 18px;
    }
    label {
        width: 100%;
        display: block;
        padding-bottom: 4px;
        padding-top: 9px;
    }
    input  {
        width: 100%;
        border: none;
        padding: 4px 10px;
        font-size: 1.0em;
        font-family: "Whitney Narrow SSm A", "Whitney Narrow SSm B";
        margin-bottom: 6px;
    }
    input[type=submit] {
        width: 300px;
        background: black;
        padding: 8px 20px;
        color: white;
        font-family: "Mercury SSm A", "Mercury SSm B";
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 20px;
        &:hover {
            background: rgba(0,0,0,.6);
            cursor: pointer;
        }
    }
}

