
// Position—
bhaa-header {
  width: 100%;
  display: block;
  padding-top: baseline(5);
  @include breakpoint("tablet") {
    @include setCol(2.5);
  }
  @include breakpoint("xl") {
    @include setCol(3);
  }
  header {
    display: block;
    @include breakpoint("tablet") {
      @include setCol(2.5);
      position: fixed;
      top: baseline(16);
    }
    @include breakpoint("xl") {
      @include setCol(3);
      position: fixed;
      top: baseline(24);
    }
  }
}


@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

@keyframes rotateMenu {
0% {
    transform: rotateX(-90deg)
}
70% {
    transform: rotateX(20deg) 
}
100% {
    transform: rotateX(0deg) 
}
}


// Mobile—
bhaa-header {
  wp-menu.toggleable:not(.toggled) {
    display: none;
    position: absolute;
  }
  wp-menu.togleable {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    z-index: -1;
    li {
     display: none;
     color: white;
     background-color: #34495e;
     padding: 10px 20px;
     font-size: 16px;
     opacity: 0;
     &:hover {
       background-color: #2980b9;
    }
  }
}
// Styling—
bhaa-header {
  background: #262626;
  header {
    padding: baseline(3) gutter();
  }
  header {
    color: #e3ecf3;
    color: $supportBlue;
    h1 {
      font-size: size(4); 
      line-height: baseline(6);
      font-weight: 500;
      letter-spacing: -.2;
      margin-top: baseline(10);
    }
    bhaa-heart-herald {
      position: absolute;
      width: baseline(14); // height is relative to width, so use vertical units here:
    }
    position: relative;
  }
  menu {
    bottom: 0;
    margin-top: baseline(3);
    list-style-type: none;
    font-family: $body;
    width: col(3,2);
    margin-left: gutter(-1);
    left: 0;
    li {
      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 1em;
        width: 100%;
        display: block;
        line-height: baseline(5);
        font-size: size(3);
        padding: baseline(1) 20px;
      }
    }
  }
}

