// Position—
bhaa-header {
  display: block;
  padding-top: baseline(5);
  position: relative;

  @include breakpoint('tablet') {
    width: col(2.5);
  }
  @include breakpoint('desktop') {
    width: col(3);
  }
  width: 100%;

  @include breakpoint('tablet') {
    header {
      background-color: orange;
      & > .mobile-fixed {
        position: initial;
      }
      @include setCol(2.5);
      @include breakpoint('desktop') {
        @include setCol(3);
        position: fixed;
      }
      position: fixed;
    }
  }
  header h1 {
    display: block;
    padding-left: gutter(1);
    padding-bottom: baseline(4);
    @include breakpoint('tablet') {
      padding: 0;
      margin-right: col(0.5);
      margin: 0;
      position: absolute;
      top: baseline(4);
    }
    @include breakpoint('desktop') {
      padding-right: gutter(2);
    }
    @include breakpoint('xl') {
      top: baseline(8);
    }
  }
  header wp-menu {
    display: block;
    @include breakpoint('tablet') {
      margin: 0;
      position: absolute;
      padding-right: gutter(1);
      top: baseline(36);
    }
    @include breakpoint('xl') {
      top: baseline(40);
    }
  }
  header bhaa-heart-herald {
    @include breakpoint('tablet') {
      padding-left: gutter(1);
      top: baseline(2);
    }
    @include breakpoint('xl') {
      top: baseline(6);
    }
  }
}

@include breakpoint('mobilexl-and-below') {
  bhaa-header {
    header > .mobile-fixed {
      @include breakpoint('mobile-and-below') {
        padding: baseline(1) gutter() baseline(1.5);
      }
      z-index: 100;
      bhaa-heart-herald {
        width: baseline(12);
        line-height: 0;
      }
      position: fixed;
      top: 0;
      padding: baseline(1) col(0.25, 2) baseline(1.5);
      line-height: 0;
      background: #262626;
      width: 100%;
    }
  }
}

// Styling—
bhaa-header {
  background: #262626;
  header {
    color: #e3ecf3;
    h1 {
      font-size: size(3.5);
      line-height: baseline(6);
      font-weight: 500;
      letter-spacing: -0.2;
      margin-top: baseline(4);

      @include breakpoint('mobilexl') {
        padding-left: col(0.25, 2);
      }
      @include breakpoint('tablet') {
        font-size: size(3.5);
        padding-left: gutter();
        margin-top: baseline(10);
      }
    }
    @include breakpoint('tablet') {
      bhaa-heart-herald {
        position: absolute;
        line-height: baseline(14);
        width: baseline(14);
      }
    }
  }
}
